{# 
/**
* only Visible on mobile on page-front and page
* content-type info
* 
*/
  #}

<div class="r-overlay-contact">
  <div class="r-overlay-contact__inner">

    <div class="r-overlay-contact__close js-close-contact">
      <div class="c-close-btn"></div>
    </div>

    <div class="r-overlay-contact__logo">
      <a href="{{ path('<front>') }}">
        <img class="r-overlay-contact__logo-img" src="{{ base_path ~ directory }}/dist/images/logo-white.png" alt="Logo PTS-aanhangwagenbouw">
      </a>
      <div class="r-overlay-contact__slogan">
        {{ page.slogan }}
      </div>
    </div>

    <div class="r-overlay-contact__body">
      {# block-region content-type info #}
        {{ page.contactoverlay}}

        <div class="c-email-protecting">
          {# not as field in content-type "info" because of extra security, 
          also does not need to be translated #}
            <a href="{{ 'eb.stp@ofni:otliam'|reverse }}" >{{ 'eb.stp@ofni'|reverse }}</a>
        </div>
        
    </div>

    <div class="r-overlay-contact__social">
      <a href="https://www.facebook.com/pts.be/">
        <img class="c-social-icon" src="{{ base_path ~ directory }}/dist/images/facebook-icon.png" alt="">
      </a>
    </div>

  </div>
</div>