{#
/**
 * @file
 * 
 * at form-view on content-type trailers is the more-details field
 * hidden and is filled in with a (translate) default value.
 * the more-details image is not shown on the trailers page, only 
 * succeeds after preprocessing function on the .theme file
 * 
 *
 * expose the base_path variable to all you templates by 
 * implementing hook_preprocess() in your theme .theme file
 * https://drupal.stackexchange.com/questions/212669/using-base-path-and-directory-variables-in-twig-template/212671
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field__items') }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'trailer-model__moredetails-field') }}>
        <div class="c-more-details__text">
          {{ item.content }} 
        </div>
          <img class="c-more-details__img" src="{{ base_path ~ directory }}/dist/images/more-details.png" alt=""> 
      </div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
